.idea/
_/components/scss/.sass-cache/
_/components/scss/_*.scss
_/components/scss/bootstrap*.scss
_/components/scss/mixins/
_/js/
js/cors/
js/jquery*.js
js/npm.js
font/
languages/
nbproject/
node_modules/
.settings/
backups-ss/
css/
documents/
extensions/
files/
gedcom/
gendex/
headstones/
histories/
media/
photos/
adminlog.txt
genlog.txt
html-sandbox.html



